<!-- Navigation -->
<div th:fragment="header">
	<header class="site-header">
		<div class="site-header__top">
			<div class="wrapper site-header__wrapper">
				<div class="site-header__start">
					<ul class="">
						<li class=""><a href="#">About</a></li>
						<li class=""><a href="#">Contact</a></li>
					</ul>
				</div>
				<div class="site-header__middle">
					<a href="#" class="brand">TECH HAVEN</a>
				</div>
				<div class="site-header__end top">
					<p>Administrador</p>
					<a th:href="@{/usuario/cerrar}" class="button">Cerrar Sesion</a>
				</div>
			</div>
		</div>
		<div class="site-header__bottom">
			<div class="wrapper site-header__wrapper">
				<div class="site-header__start">
					<nav class="nav">
						<button class="nav__toggle" aria-expanded="false" type="button">
							menu
						</button>
						<ul class="nav__wrapper">
							<li class="nav__item"><a th:href="@{/administrador}">Home</a></li>
							<li class="nav__item"><a th:href="@{/productos}">Productos</a></li>
							<li class="nav__item"><a th:href="@{/administrador/usuarios}">Usuarios</a></li>
							<li class="nav__item"><a th:href="@{/administrador/ordenes}">Ordenes</a></li>
							<li class="nav__item"><a th:href="@{/proveedor}">Proveedores</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

</div>



<!-- Footer -->
<div th:fragment="footer">
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Grupo Proyecto Tecnologico 2023</p>
		</div>
		<!-- /.container -->
	</footer>

</div>